* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
  position: relative;
  height: 100vh;
}
.container {
  width: 85%;
  height: 100vh;
  margin:0 auto;
  padding: 2rem 0;
}
.pro-ty::after {
  content: "Ty";
  color: #157bcf;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items:center;
}
.navbar a:link {
  position: relative;
  text-decoration: none;
  cursor: pointer;
  margin-right: 3rem;
  color: #757474;
  font-size: .8rem;
  font-weight: bold;
}
.navbar a:link:hover {
color: #000;
}
.navbar a:link::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: #000;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.navbar a:link:hover::before {
  transform: scaleX(1);
}
.navbar a:link:nth-child(4){
  margin: 0;
}
.align-right-nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 65%;
}
.nav-login{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.search:hover {
  cursor: pointer;
}
.btn-login {
  background-color: #000000bb;
  color: #fffffffb;
  padding: .4rem 2rem;
  margin-left: 2rem;
  cursor: pointer;
  border: none;
  outline: none;
}
.article-section {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 50%;
  height: 90%;
}
.style-new {
  color: #157bcf;
}
span::after {
  content: "*";
  color: #000;
}
.style-company {
  display: inline-block;
}
.article-state {
  font-size: 3rem;
  margin-top: .5rem;
}
.article-build {
  color: #757474;
  width: 65%;
}
.section-sign-up {
  margin-top: 2rem;
}
.btn-sign-up {
  background-color: #000000bb;
  color: #fffffffb;
  cursor: pointer;
  border: none;
  outline: none;
  font-size: 1rem;
  padding: .4rem 3rem;
  margin-right: 2.5rem;
  box-shadow:1px 20px 20px 15px #f4f4f5;
}
.style-trail {
  text-decoration: none;
  cursor: pointer;
  color: #757474;
  border: none;
  outline: none;
}
.partner-section {
  display: flex;
  flex-direction: column;
}
.partners {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
  width: 70%;
}
.partners-section {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 80%;
}
.icon-partner {
  box-shadow: 0px 20px 20px 8px #e8e8ef;
}
.style2-montra {
  color: #757474;
  font-size:.7rem ;
}
.img-building {
  width: 55%;
  height: 80%;
  position: absolute;
  right:0;
  bottom: 0;
}
.triangle1 {
  position: absolute;
  width: 100px;
	height: 100px;
	border-top: 80px solid transparent;
	border-left: 80px solid #000000bb;
	border-bottom: 80px solid transparent;
  top: 463px;
  /* top: 466px; ; */
  left: 0;
}
.triangle2 {
  position: absolute;
  width: 50px;
	height: 50px;
	border-top: 35px solid transparent;
	border-left: 35px solid  #938c8c57 ;
	border-bottom: 35px solid transparent;
  top: 438px;
  /* top: 420px; */
  left: 0;
}
button.outlined{
color: #757474;
}
